/* hero.css */

/* Hero Section */
.hero {
  padding: var(--size-fluid-3) 0;
}

/* Wrapper for Left and Right Columns */
.hero-content-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  gap: var(--size-fluid-4);
  max-width: var(--container-width);
}

/* Left Column Styling */
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

/* Title Styling */
.hero-title {
  font-size: 7rem;
  font-family: var(
    --font-title
  ); /* Uses the Rowdies font defined in global.css */
  color: var(--color-secondary);
  margin: 0;
  padding-bottom: var(--size-fluid-2);
  line-height: 0.45; /* Adjust line height if needed */
}

.hero-title span {
  display: block;
  margin-bottom: -0.2rem;
}

/* Role and Subtitle */
.hero-role {
  color: var(--color-text);
  margin-top: var(--size-fluid-3);
}

.hero-subtitle {
  color: var(--color-text-secondary); /* Slightly dimmed color */
  margin-top: 0.2rem;
}

/* Download Buttons */
.download-buttons {
  display: flex;
  gap: var(--size-fluid-3);
  margin-top: var(--size-fluid-3);
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 100%;
}

.download-button img {
  max-width: 100%;
  height: auto;
  width: auto;
  max-height: 4rem;
}

/* Right Column: Image Styling */
.hero-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
  .hero-title {
    font-size: 5rem;
  }

  .hero-role {
    font-size: var(--font-size-base);
  }

  .hero-subtitle {
    font-size: var(--font-size-small);
  }

  .download-button img {
    max-height: 2.5rem;
  }
}

@media (max-width: 756px) {
  .hero-content-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-left {
    width: 100%;
  }

  .hero-title {
    font-size: 3.75rem;
    text-align: center;
  }

  .download-buttons {
    margin-top: var(--size-fluid-2);
    justify-content: center;
  }

  .hero-right {
    width: 80%;
    margin-top: var(--size-fluid-2);
    justify-content: center;
  }
}
