/* Remove padding and margin on html and body */
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.photography-section {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0; /* Initially hidden for fade-in effect */
  transform: translateY(20px); /* Start slightly lower for slide-up effect */
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.photography-section.visible {
  opacity: 1;
  transform: translateY(0); /* Slide-up effect */
}

/* Background Image Styling */
.background-image {
  background-image: url("/images/photography-section/tahoe-background.webp");
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

/* Text Content Styling */
.text-content {
  position: absolute;
  top: 10%;
  left: 5%;
  color: white;
  z-index: 1;
  opacity: 0; /* Start hidden for fade-in effect */
  transform: translateY(-20px); /* Slight upward slide */
  animation: fadeInDown 1s ease forwards;
  animation-delay: 0.3s; /* Delay the fade-in for smoother entrance */
}

/* Animating title and subtitle */
.section-title {
  font-size: var(--font-size-large);
  font-family: var(--font-title, sans-serif);
  font-weight: 700;
}

.section-subtitle {
  margin-top: 0rem;
  color: var(--color-text-secondary);
}

/* See More Button Styling */
.see-more-button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 1;
}

.see-more-button img {
  max-width: 100%;
  height: auto;
  max-height: 3rem;
  transition: transform 0.3s ease; /* Smooth transition on hover */
}

.see-more-button:hover img {
  transform: scale(1.1); /* Grow slightly on hover */
}

/* Fade In Down Animation */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .background-image {
    height: 300px;
  }

  .section-title {
    font-size: var(--font-size-base);
  }

  .section-subtitle {
    font-size: 0.8rem;
  }

  .see-more-button img {
    max-height: 1.5rem;
  }
}
