---
import MetaTags from "../components/MetaTags.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const meta = {
    title: "About Robinson Gaming",
    description:
        "Learn more about Robinson Gaming, an independent mobile gaming studio created and operated by one developer.",
};
---

<!doctype html>
<html lang="en">
    <head>
        <MetaTags title={meta.title} description={meta.description} />
        <link href="/styles/global.css" rel="stylesheet" />
    </head>
    <body class="text-white bg-gray-800">
        <Header />
        <main
            class="max-w-4xl mx-auto px-5 sm:px-6 lg:px-8 text-center my-10 pt-24 sm:pt-28"
        >
            <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold my-4">
                About Robinson Gaming
            </h1>
            <div
                class="flex flex-col md:flex-row items-center md:items-start pt-8"
            >
                <div class="image-container w-64 md:w-auto">
                    <img
                        src="/images/personal-photo.jpg"
                        alt="Cole Robinson"
                        class="h-full md:h-full rounded mx-auto md:mr-8 mb-4 md:mb-0 object-cover"
                    />
                </div>
                <div
                    class="text-container text-center md:text-left flex-grow pl-4"
                >
                    <p
                        class="my-4 text-base sm:text-lg md:text-l font-semibold"
                    >
                        Robinson Gaming is an independent mobile gaming studio
                        created and operated by one developer. I am passionate
                        about creating challenging yet satisfying mobile puzzle
                        games that engage and entertain players of all ages.
                        <br /><br />
                        Every game is a result of my dedication to refining my skills
                        in game development and mastering the Unity Game Engine.
                        By playing my games, you are directly supporting an independent
                        developer who is committed to delivering high-quality, fun,
                        and free-to-play gaming experiences.
                        <br /><br />
                        All ad proceeds and in-app purchases go directly to me, allowing
                        me to continue providing enjoyable games and enhancing my
                        development capabilities. Your support helps me invest in
                        new tools, technologies, and resources to keep improving
                        the gaming experience for you.
                    </p>
                </div>
            </div>
            <div class="text-center md:text-center mt-8">
                <p class="my-4">Founded in Orange County, California.</p>
                <p class="my-4">Operated in Lake Tahoe, California.</p>
            </div>
        </main>
        <Footer />
    </body>
</html>
