---
// contact page
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contact - Robinson Gaming</title>
        <link href="/styles/global.css" rel="stylesheet" />
    </head>
    <body class="text-white bg-gray-800">
        <Header />
        <main class="w-3/5 mx-auto text-center mt-24">
            <h1 class="font-bold text-3xl">Contact</h1>
            <p class="mt-4">
                For all inquiries, concerns, or suggestions, please contact us
                at <a
                    href="mailto:robinson.games.help@gmail.com"
                    class="underline">robinson.games.help@gmail.com</a
                >
            </p>
            <img
                src="/images/contact-supporting-image.png"
                alt="Contact Supporting Image"
                class="my-8 mx-auto w-3/5"
            />
        </main>
        <Footer />
    </body>
</html>
