---
// Contaact.astro - Page
import MetaTags from "../components/MetaTags.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const meta = {
    title: "Contact",
    description: "Contact us for all inquiries, concerns, or suggestions.",
};
---

<!doctype html>
<html lang="en">
    <head>
        <MetaTags title={meta.title} description={meta.description} />
        <link href="/styles/global.css" rel="stylesheet" />
    </head>
    <body class="text-white bg-gray-800">
        <Header />
        <main class="max-w-4xl mx-auto px-5 sm:px-6 lg:px-8 text-center pt-28">
            <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold my-4">
                Contact
            </h1>
            <p class="my-4 text-base sm:text-lg md:text-xl">
                For all inquiries, concerns, or suggestions, please contact us
                at
                <a href="mailto:robinson.games.help@gmail.com" class="underline"
                    >robinson.games.help@gmail.com</a
                >.
            </p>
            <img
                src="/images/contact-supporting-image.png"
                alt="Contact Supporting Image"
                class="mx-auto my-8 w-full max-w-md h-auto"
            />
        </main>
        <Footer />
    </body>
</html>
