---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HomePageContent from "../components/HomePageContent.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Robinson Gaming - Home</title>
		<link href="/styles/global.css" rel="stylesheet" />
	</head>
	<body class="text-white bg-gray-800">
		<Header />
		<HomePageContent />
		<Footer />
	</body>
</html>
