---
// Import the Header component
import Header from "../components/Header.astro";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/styles/global.css" />
        <!-- Link to your CSS -->
    </head>
    <body>
        <Header />
        <!-- Using the Header component -->

        <main class="container justify-center flex mx-auto pt-20">
            <h1 class="text-red-500">Privacy Policy - Number Crunch Tiles</h1>
            <img
                src="/images/pp-nct-image.png"
                alt="Privacy Policy Image"
                class="my-4"
            />

            <!-- Privacy Policy Content Here -->
            <section>
                <h2>Introduction</h2>
                <p>Your introduction content...</p>
            </section>
            <section>
                <h2>Collection of Information</h2>
                <p>Details about what information you collect...</p>
            </section>
            <!-- Add more sections as needed -->
        </main>
    </body>
</html>
