---
// AboutSection.astro
import "../styles/about-section.css";
---

<section class="about-section">
  <div class="container about-content-wrapper">
    <!--- Left Column: Heading, subheading, two buttons -->
    <div class="about-left">
      <h1>About The Developer</h1>
      <p class="subheading-text">I'm currently seeking employment!</p>
      <div class="engagement-buttons">
        <a href="/About" class="engagement-button">
          <img src="images/about-section/learn-more.webp" alt="Learn more" />
        </a>
        <!-- Contact Button with mailto link -->
        <a
          href="mailto:cole@robinsongaming.com?subject=Job%20Opportunity&body=Hello%20Cole%2C%0D%0A%0D%0AI%27d%20like%20to%20discuss%20an%20opportunity%20with%20you."
          class="engagement-button"
        >
          <img src="images/about-section/contact.webp" alt="Contact" />
        </a>
      </div>
    </div>
    <div class="about-right">
      <img
        src="images/about-section/graduation.webp"
        alt="Cole Robinson after Graduation"
      />
    </div>
  </div>
</section>
