---
// AboutHero.astro
import "../styles/about-hero.css";
---

<section class="about-hero">
  <div class="container hero-content-wrapper">
    <!-- Left Column: Title, Description, and Contact Button -->
    <div class="hero-left">
      <h1 class="hero-title">
        <span>Cole</span>
        <br />
        <span>Robinson</span>
      </h1>
      <h2 class="hero-role">Software and Computer Engineer</h2>
      <p class="hero-subtitle">Cal Poly San Luis Obispo</p>

      <!-- Contact Button -->
      <div class="contact-button">
        <a href="mailto:cole@robinsongaming.com" class="contact-link">
          <img
            src="/images/about-section/contact.webp"
            alt="Contact Cole Robinson"
          />
        </a>
      </div>
    </div>

    <!-- Profile Image -->
    <div class="hero-right">
      <img
        src="/images/about-hero/about-hero-image.webp"
        alt="Cole Robinson on a Mountain"
      />
    </div>
  </div>
</section>
