---
import "../styles/about-page-component.css";
---

<section class="about-page">
  <!-- Title Section -->
  <h1 class="container about-title">About the Developer</h1>

  <!-- Main Content Wrapper -->
  <div class="container about-content-wrapper">
    <!-- Image Section -->
    <div class="about-image">
      <img
        src="/images/about/about-profile.webp"
        alt="Portrait of Cole Robinson, software and computer engineer"
      />
    </div>

    <!-- Text Section -->
    <div class="about-text">
      <!-- Intro Paragraph -->
      <p class="intro-paragraph">
        Hey there, I am a postgraduate from Cal Poly San Luis Obispo with a
        degree in Computer Engineering. With broad knowledge of both lower-level
        embedded systems as well as higher-level software systems, I’m currently
        seeking employment with a company to apply these skills.
      </p>

      <!-- Lists Section -->
      <div class="about-lists">
        <!-- Interests -->
        <div class="list-section">
          <h3 class="list-title">Interests</h3>
          <ul class="list-items">
            <li>Game Development</li>
            <li>Cloud Infrastructure</li>
            <li>Embedded Engineering</li>
            <li>Product Design</li>
            <li>UI/UX Specialist</li>
            <li>Software Engineering</li>
            <li>Quality Assurance</li>
            <li>Cybersecurity</li>
          </ul>
        </div>

        <!-- Skills -->
        <div class="list-section">
          <h3 class="list-title">Skills</h3>
          <ul class="list-items">
            <li>Unity Game Engine</li>
            <li>AWS + Terraform</li>
            <li>Microcontrollers (C++)</li>
            <li>Linux CLI</li>
            <li>Virtual Machines</li>
            <li>Network Layers</li>
            <li>Game Design</li>
            <li>UI/UX Best Practices</li>
            <li>CI/CD Platforms, Git</li>
            <li>Object-Oriented Programming (OOP)</li>
            <li>Operating Systems</li>
          </ul>
        </div>

        <!-- Hobbies -->
        <div class="list-section">
          <h3 class="list-title">Hobbies</h3>
          <ul class="list-items">
            <li>Skiing and Snowboarding</li>
            <li>Cooking and Baking</li>
            <li>Texas Hold 'em Poker</li>
            <li>Hiking and Backpacking</li>
            <li>Landscape Photography</li>
            <li>Video Games</li>
            <li>Exercise and Nutrition</li>
            <li>Watching Baseball</li>
            <li>Game Development</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
