---
import "../styles/footer.css";
---

<footer class="footer">
  <div class="container footer-content">
    <!-- Left side: Robinson Gaming header and GitHub logo -->
    <div class="footer-left">
      <!-- Robinson Gaming Link to Home -->
      <a href="/" aria-label="Go to Robinson Gaming homepage">Robinson Gaming</a
      >
      <a
        href="https://github.com/crobin27"
        target="_blank"
        class="github-link"
        aria-label="Visit Cole Robinson's GitHub profile"
      >
        <img
          src="/icons/github.svg"
          alt="GitHub Logo for Cole Robinson's GitHub"
        />
      </a>
    </div>

    <!-- Right side: Download buttons -->
    <div class="footer-right">
      <a
        href="https://apps.apple.com/us/developer/cole-robinson/id1703674983"
        target="_blank"
        class="app-store"
        aria-label="Download Robinson Gaming apps on the App Store"
      >
        <img
          src="/images/footer/download_on_as.webp"
          alt="Download Robinson Gaming apps on the App Store"
        />
      </a>
      <a
        href="https://play.google.com/store/apps/developer?id=RobinsonGaming"
        target="_blank"
        class="google-play"
        aria-label="Get Robinson Gaming apps on Google Play"
      >
        <img
          src="/images/footer/download_on_gp.webp"
          alt="Get Robinson Gaming apps on Google Play"
        />
      </a>
    </div>
  </div>

  <!-- Divider line -->
  <div class="footer-divider" aria-hidden="true"></div>

  <!-- Bottom row: Privacy policy on the left and email on the right -->
  <div class="container footer-bottom">
    <a
      href="/privacy-policy"
      class="privacy-policy"
      aria-label="View Privacy Policy"
    >
      Privacy Policy
    </a>
    <a
      href="mailto:cole@robinsongaming.com"
      class="email"
      aria-label="Contact Cole Robinson via email"
    >
      cole@robinsongaming.com
    </a>
  </div>
</footer>
