---
import "../styles/footer.css";
---

<footer class="footer">
  <div class="container footer-content">
    <!-- Left side: Robinson Gaming header and GitHub logo -->
    <div class="footer-left">
      <h1>Robinson Gaming</h1>
      <a href="https://github.com/crobin27" target="_blank" class="github-link">
        <img src="/icons/github.svg" alt="GitHub Logo" />
      </a>
    </div>

    <!-- Right side: Download buttons -->
    <div class="footer-right">
      <a
        href="https://apps.apple.com/us/developer/cole-robinson/id1703674983"
        target="_blank"
        class="app-store"
      >
        <img
          src="/images/footer/download_on_as.webp"
          alt="Download on the App Store"
        />
      </a>
      <a
        href="https://play.google.com/store/apps/developer?id=RobinsonGaming"
        target="_blank"
        class="google-play"
      >
        <img
          src="/images/footer/download_on_gp.webp"
          alt="Get it on Google Play"
        />
      </a>
    </div>
  </div>

  <!-- Divider line -->
  <div class="footer-divider"></div>

  <!-- Bottom row: Privacy policy on the left and email on the right -->
  <div class="container footer-bottom">
    <a href="/privacy-policy" class="privacy-policy">Privacy Policy</a>
    <a href="mailto:cole@robinsongaming.com" class="email"
      >cole@robinsongaming.com</a
    >
  </div>
</footer>
