<footer class="bg-gray-900 text-white p-5">
    <div
        class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center"
    >
        <!-- Top Section: Logo & Download Buttons -->
        <a href="/">
            <div class="flex flex-1 items-center justify-start">
                <img
                    src="/images/header/Logo_By_Itself.png"
                    alt="Robinson Gaming Logo"
                    class="h-12 mr-4"
                />
                <span class="font-bold text-lg">Robinson Gaming</span>
            </div>
        </a>
        <div class="flex flex-1 items-center justify-end space-x-4">
            <a
                href="https://play.google.com/store/apps/developer?id=RobinsonGaming"
                target="_blank"
            >
                <img
                    src="/images/footer/download_on_gp.png"
                    alt="Download on Google Play"
                    class="h-12"
                />
            </a>
            <a
                href="https://apps.apple.com/us/developer/cole-robinson/id1703674983"
                target="_blank"
            >
                <img
                    src="/images/footer/download_on_as.png"
                    alt="Download on Apple App Store"
                    class="h-12"
                />
            </a>
        </div>
    </div>
    <!-- Separator Line -->
    <hr class="my-6 border-white opacity-35" />
    <!-- Bottom Section: Contact, Policy, Social Media -->
    <div
        class="flex flex-col md:flex-row justify-between items-center max-w-7xl mx-auto"
    >
        <a href="mailto:support@robinsongaming.com" class="mb-2 md:mb-0"
            >support@robinsongaming.com</a
        >
        <a href="/privacy-policy" class="mb-2 md:mb-0">Privacy Policy</a>
        <div class="flex space-x-4">
            <a
                href="https://www.facebook.com/profile.php?id=61551127674148"
                target="_blank"
            >
                <img
                    src="/images/footer/facebook.png"
                    alt="Facebook"
                    class="h-8"
                />
            </a>
            <a
                href="https://www.instagram.com/numbercrunchtiles/"
                target="_blank"
            >
                <img
                    src="/images/footer/instagram.png"
                    alt="Instagram"
                    class="h-8"
                />
            </a>
            <a href="https://www.tiktok.com/@robinson.gaming" target="_blank">
                <img src="/images/footer/tiktok.png" alt="TikTok" class="h-8" />
            </a>
            <a href="https://www.linkedin.com/in/crobinson44/" target="_blank">
                <img
                    src="/images/footer/linkedin.png"
                    alt="LinkedIn"
                    class="h-8"
                />
            </a>
        </div>
    </div>
</footer>
