---
// Header.astro

// Define a base URL for navigation; adjust according to your project structure
const baseUrl = "/";
---

<header
    class="bg-cover bg-center p-5 text-white flex justify-between items-center fixed top-0 left-0 w-full z-50 rounded-bl-2xl rounded-br-2xl"
    style="background-image: url('images/header/header_image.png'); background-position: center; background-size: 100% 100%;"
>
    <a href={baseUrl} class="flex items-center">
        <img
            src="images/header/Logo_By_Itself.png"
            alt="Company Logo"
            class="w-10 h-10 mr-2"
        />
        <span class="font-bold text-xl">Robinson Gaming</span>
    </a>

    <nav class="flex">
        <ul class="flex space-x-6">
            <li>
                <a
                    href={`${baseUrl}about`}
                    class="hover:text-gray-300 font-bold">About</a
                >
            </li>
            <li>
                <a
                    href={`${baseUrl}contact`}
                    class="hover:text-gray-300 font-bold">Contact</a
                >
            </li>
            <li>
                <a href="/#games" class="hover:text-gray-300 font-bold">Games</a
                >
            </li>
        </ul>
    </nav>
</header>
